@page "/addcar"
@using CarDetailsBlazor.Interfaces;
@using CarDetailsModels;
@using CarDetailsBlazor;
@using System.Net.Http.Json;
@using System.Net.Http;
@using Microsoft.AspNetCore.Mvc;
@using System.Text.Json;
@inject IMediator _mediatr
@using Manufacturer = CarDetailsAPI.Models.ManufacturersModel;
@using Car = CarDetailsAPI.Models.CarsModel;
@inject ICarWebServiceAPI CarWebServiceAPI
@inject IManufacturerWebServiceAPI ManufacturerWebServiceAPI


<h3>Add New Car</h3>

<div class="container-fluid mb-3">

    <div class="mb-2">
        <label for="manufacturerName">Manufacturer Name:</label>
        <input id="manufacturerName" type="text" @bind="newManufacturer.MappedName" placeholder="Insert value.." />
    </div>
    <div class="mb-2">
        <label for="manufacturerHQ">Manufacturer Headquarters:</label>
        <input id="manufacturerHQ" type="text" @bind="newManufacturer.MappedHeadquarters" placeholder="Insert value.." />
    </div>
    <div class="mb-2">
        <label for="manufacturerYear">Manufacturer Year:</label>
        <input id="manufacturerYear" type="text" @bind="newManufacturer.MappedYear" placeholder="Insert value.." />
    </div>
    <button type="submit" @onclick="AddManufacturer" class="btn btn-success">Add New Manufacturer</button>
    <label class="alert alert-success @(string.IsNullOrEmpty(statusMessage) ? "d-none" : "")" role="alert">@statusMessage</label>

    <EditForm Model="newCar" OnValidSubmit="AddCar">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary />

        <div class="mb-2">
            <label for="carYear">Car Year:</label>
            <input id="carYear" type="text" @bind="newCar.MappedYear" placeholder="Insert value.." />
        </div>

        <div class="mb-2">
            <select class="form-control w-20" @bind="selectedManufacturerId">
                <option value="0">Select Manufacturer</option>
                @foreach (var manu in manufacturers)
                {
                    <option value="@manu.Id">@manu.MappedName</option>
                }
            </select>
            <ValidationMessage For="() => newCar.MappedManufacturerId" />
        </div>
        <div class="mb-2">
            <label for="carName">Car Name:</label>
            <input id="carName" type="text" @bind="newCar.MappedName" placeholder="Insert value.." />
        </div>
        <div class="mb-2">
            <label for="carDisplacement">Car Displacement:</label>
            <input id="carDisplacement" type="number" step="0.1" @bind="newCar.MappedDisplacement" placeholder="Insert value.." />
        </div>
        <div class="mb-2">
            <label for="carCylinders">Car Cylinders:</label>
            <input id="carCylinders" type="number" @bind="newCar.MappedCylinders" placeholder="Insert value.." />
        </div>
        <div class="mb-2">
            <label for="carCity">Car City Fuel Efficiency:</label>
            <input id="carCity" type="text" @bind="newCar.MappedCity" placeholder="Insert value.." />
        </div>
        <div class="mb-2">
            <label for="carHighway">Car Highway Fuel Efficiency:</label>
            <input id="carHighway" type="text" @bind="newCar.MappedHighway" placeholder="Insert value.." />
        </div>
        <div class="mb-2">
            <label for="carCombined">Car Combined Fuel Efficiency:</label>
            <input id="carCombined" type="text" @bind="newCar.MappedCombined" placeholder="Insert value.." />
        </div>
        <button type="submit" class="btn btn-success">Add New Car</button>
    </EditForm>

</div>
<label class="alert alert-success @(string.IsNullOrEmpty(statusMessage) ? "d-none" : "")" role="alert">@statusMessage</label>




@code {
    private Car newCar = new Car();
    private Manufacturer newManufacturer = new Manufacturer();
    private HttpClient httpClient;
    private string statusMessage;
    private List<CarDetailsAPI.Models.ManufacturersModel> manufacturers = new();
    private int selectedManufacturerId;
    private string selectedManufacturerName;



    protected override async Task OnInitializedAsync()
    {
        httpClient = new HttpClient();
        manufacturers = await ManufacturerWebServiceAPI.GetManufacturers();

    }

    private async Task AddCar()
    {
        try
        {
            await CarWebServiceAPI.CreateCar(newCar);

            statusMessage += " New Car added successfully!";

        }
        catch (Exception e)
        {
            statusMessage += " Failed to add new Car.";
        }
    }

    private async Task AddManufacturer()
    {
        try
        {
            await ManufacturerWebServiceAPI.CreateManufacturer(newManufacturer);

            statusMessage += " New Manufacturer added successfully!";

        }
        catch (Exception e)
        {
            statusMessage += " Failed to add new Manufacturer.";
        }
    }

    private void OnChangeEvent(ChangeEventArgs e)
    {
        int.TryParse(e.Value?.ToString(), out selectedManufacturerId);

        var selectedManufacturer = manufacturers.FirstOrDefault(m => m.Id == selectedManufacturerId);
        if (selectedManufacturer != null)
        {
            selectedManufacturerName = selectedManufacturer.MappedName;
        }
    }
}
}
