@page "/refitCars"
@using CarDetailsModels;
@using CarDetailsBlazor.Interfaces;
@using Refit;
@inject ICarWebServiceAPI CarWebServiceAPI;

<h3>Cars with Refit</h3>

@if(cars is not null && cars.Any())
{
    <table class="table table-striped table-hover w-auto">
        <thead>
            <tr>
                <th>Id</th>
                <th>Year</th>
                <th>Manufacturer</th>
                <th>Name</th>
                <th>Displacement</th>
                <th>Cylinders</th>
                <th>City MPG</th>
                <th>Highway MPG</th>
                <th>Combined MPG</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var car in cars)
            {
                <tr>
                    <td>@car.Id</td>
                    <td>@car.Year</td>
                    <td>@car.Manufacturer</td>
                    <td>@car.Name</td>
                    <td>@car.Displacement</td>
                    <td>@car.Cylinders</td>
                    <td>@car.City</td>
                    <td>@car.Highway</td>
                    <td>@car.Combined</td>
                </tr>
            }
        </tbody>

    </table>
}

@code {
    private int? Page { get; set; }
    private int? PageSize { get; set; }
    public IEnumerable<Car> cars { get; set; }

    protected override async Task OnInitializedAsync()
    {
        cars = await CarWebServiceAPI.GetCars( Page, PageSize);


    }

}
